h1{
    color: blue;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    border-collapse: collapse;
    width: 80%;
  }
th { 
    background-color:aquamarine;
    color:red;
}
th, td {
    text-align: center;
    padding: 11px;
}
th,td,ol{
    text-align: left;
    padding: 11px;
}
