h2{
    color: blue;
}

table, th, td {
    border: 1px solid ;
    border-collapse: collapse;
}

th { 
    background-color:red;
    color:white;
}
td, th { 
    padding:5px;
    border:1px solid;
}
p{
    text-align: center;
}