@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
  background-image: url("https://cdn.pixabay.com/photo/2018/08/19/10/16/nature-3616194_1280.jpg");
  width: 100vw;
  height: 100vh;
  /*https://cdn.pixabay.com/photo/2013/05/12/18/55/balance-110850_1280.jpg  */
  background-size: cover;
  background-position: center;
  background-repeat:"no-repeat",
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: #011421;
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #fff;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  image-orientation: url("https://cdn.pixabay.com/photo/2013/05/12/18/55/balance-110850_1280.jpg ");
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: #fff;
  font-size: 16px;
}

.current .temp {
  color: #fff;
  font-size: 106px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.5);
}

.current .temp span {
  font-weight: 300;
}
.current .weather {
  color: #fff;
  font-size: 32px;
  font-weight: 700px;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.5);
}

span {
  font-weight: 500;
  font-size: 65px;
}

.current .hi-low {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}